<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbit.newbitfeatureservice.purchase.query.repository.AssetHistoryMapper">
    <select id="findDiamondHistories" resultType="com.newbit.newbitfeatureservice.purchase.query.dto.response.AssetHistoryDto">
        SELECT
        dh.diamond_history_id AS historyId,
        dh.service_type AS serviceType,
        dh.service_id AS serviceId,
        dh.increase_amount,
        dh.decrease_amount,
        dh.balance,
        dh.created_at,

        CASE
        WHEN dh.service_type = 'COLUMN' THEN c.title
        WHEN dh.service_type = 'COFFEECHAT' THEN u.nickname
        ELSE NULL
        END AS serviceTitleOrUserNickname

        FROM diamond_history dh

        LEFT JOIN `column` c
        ON dh.service_type = 'COLUMN' AND dh.service_id = c.column_id

        LEFT JOIN coffeechat cc
        ON dh.service_type = 'COFFEECHAT' AND dh.service_id = cc.coffeechat_id
        LEFT JOIN mentor m
        ON cc.mentor_id = m.mentor_id
        LEFT JOIN user u
        ON m.user_id = u.user_id

        WHERE dh.user_id = #{userId}

        <if test="type != null and type.name() == 'INCREASE'">
            AND dh.increase_amount IS NOT NULL
        </if>
        <if test="type != null and type.name() == 'DECREASE'">
            AND dh.decrease_amount IS NOT NULL
        </if>

        ORDER BY dh.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="findPointHistories" resultType="com.newbit.newbitfeatureservice.purchase.query.dto.response.AssetHistoryDto">
        SELECT
        ph.point_history_id AS historyId,
        ph.service_id AS serviceId,
        pt.point_type_name AS serviceType,
        pt.increase_amount AS increaseAmount,
        pt.decrease_amount AS decreaseAmount,
        ph.balance AS balance,
        ph.created_at AS createdAt
        FROM point_history ph
        JOIN point_type pt ON ph.point_type_id = pt.point_type_id
        WHERE ph.user_id = #{userId}
        <if test="type != null and type.name() == 'INCREASE'">
            AND pt.increase_amount IS NOT NULL
        </if>
        <if test="type != null and type.name() == 'DECREASE'">
            AND pt.decrease_amount IS NOT NULL
        </if>
        ORDER BY ph.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="countPointHistories" resultType="long">
        SELECT COUNT(*)
        FROM point_history ph
        JOIN point_type pt ON ph.point_type_id = pt.point_type_id
        WHERE ph.user_id = #{userId}
        <if test="type != null and type.name() == 'INCREASE'">
            AND pt.increase_amount IS NOT NULL
        </if>
        <if test="type != null and type.name() == 'DECREASE'">
            AND pt.decrease_amount IS NOT NULL
        </if>
    </select>


    <select id="countDiamondHistories" resultType="long">
        SELECT COUNT(*) FROM diamond_history
        WHERE user_id = #{userId}
        <if test="type != null and type.name() == 'INCREASE'">
            AND increase_amount IS NOT NULL
        </if>
        <if test="type != null and type.name() == 'DECREASE'">
            AND decrease_amount IS NOT NULL
        </if>
    </select>


</mapper>